<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.olog.msc"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".App">

        <activity android:name="dev.olog.presentation.activity_splash.SplashActivity"
            android:theme="@style/Splash"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="dev.olog.presentation.activity_main.MainActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name="dev.olog.presentation.activity_about.AboutActivity"/>

        <service android:name="dev.olog.music_service.MusicService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <service android:name="dev.olog.floating_info.FloatingInfoService"
                 android:exported="false"/>

        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <!-- to support 2:1 screens -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>

        <!--<meta-data-->
            <!--android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"-->
            <!--android:value="dev.olog.presentation.cast.CastOptionsProvider" />-->

    </application>


</manifest>
