<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.olog.msc"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

    <uses-feature android:name="android.hardware.telephony" android:required="false" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".app.App">

        <!--main activity-->
        <activity
            android:name=".presentation.main.MainActivity"
            android:launchMode="singleTop"

            android:rotationAnimation="rotate"
            android:colorMode="wideColorGamut">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MUSIC_PLAYER" />
                <category android:name="android.intent.category.APP_MUSIC" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <!--splash activity-->
        <activity android:name=".presentation.splash.SplashActivity"/>

        <!--about activity-->
        <activity android:name=".presentation.about.AboutActivity" />

        <!--settings activity-->
        <activity android:name=".presentation.preferences.PreferencesActivity"
            android:theme="@style/SettingsTheme"/>

        <!--dummy shortcuts activity-->
        <activity android:name=".presentation.shortcuts.ShortcutsActivity"/>

        <!--debug configuration-->
        <activity android:name=".presentation.debug.DebugConfigurationActivity"/>

        <!--music service-->
        <service android:name=".music.service.MusicService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <!--media button receiver-->
        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <!--floating window service-->
        <service android:name=".floating.window.service.FloatingWindowService"
                 android:exported="false"/>


        <!--widget -->
        <receiver android:name=".presentation.app.widget.WidgetColored"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_colored"/>
        </receiver>

        <!--provide storage permission to share intents-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <!--car support-->
        <meta-data android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc"/>

        <!-- support to 2:1 screens -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>

        <!--disable firebase analytics for build time, can enable at runtime-->

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="@bool/FIREBASE_ENABLED"/>

        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="@bool/FIREBASE_ENABLED" />


    </application>


</manifest>
