<?xml version="1.0" encoding="utf-8"?>
<manifest package="dev.olog.feature.widget"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <!--widget -->
        <receiver
            android:name=".WidgetColored"
            android:label="@string/app_widget_default"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_colored" />
        </receiver>

    </application>

</manifest>